.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

a {
  min-width: 48px;
  text-decoration: none;
}

#action {
  display: grid;
  padding: 0;
  margin: 0;
}

.yellow {
  background-color: #F5CE06;
  grid-column: 1;
}

.blue {
  background-color: #fafafa;
  grid-column: 2;
}

.yellow,
.blue {
  text-align: center;
  padding: 1rem;
}


header a {
  border: 1px solid #F5CE06;
  margin-right: 5px;
  border-radius: 5px;
  color: white;
}

header a:hover {
  transition: ease-in 0.5;
  background-color: #F5CE06;
}

header,
#info,
footer {
  background-color: #017EF4;
}

header {
  display: flex;
  justify-content: space-between;
}

header ul {
  align-items: center;
}

aside,
#about {
  background-color: #F5CE06;
  padding-top: 10px;
}

section,
aside,
address,
footer {
  padding: 10px 15px;
  margin: 5px;
}

h2,
h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#info h3 {
  border-bottom: 1px solid #F5CE06;
  max-width: fit-content;
}

#reading {
  margin-bottom: 0px;
}

#info {
  margin-top: 0px;
}

.logo {
  max-width: 70px;
  height: auto;
}

img {
  max-width: 100%;
  overflow: hidden;
}

.more img {
  height: 200px;
  width: auto;
}

footer {
  height: 300px;
}

footer a {
  padding: 10px;
  font-size: 1.5rem;
}

footer a i {
  color: #fafafa;
}

footer p {
  font-size: 1rem;
}

@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (min-width: 769px) {}
